<%- include("partials/header"); -%>

<main id="main " class="bg-dark">
  <!-- ======= Hero Slider Section ======= -->
  <section id="hero-slider" class="hero-slider">
    <div class="container-md" data-aos="fade-in">
      <div class="row">
        <div class="col-12">
          <div class="swiper sliderFeaturedPosts">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a
                  href=""
                  class="img-bg d-flex align-items-end"
                  style="background-image: url('assets/img/image1.webp')"
                >
                  <div class="img-bg-inner">
                    <h2>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua
                    </h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Pharetra et ultrices neque ornare. Gravida in
                      fermentum et sollicitudin ac orci phasellus egestas
                      tellus.
                    </p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a
                  href=""
                  class="img-bg d-flex align-items-end"
                  style="background-image: url('assets/img/image2.webp')"
                >
                  <div class="img-bg-inner">
                    <h2>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Pharetra et ultrices neque ornare. Gravida in
                      fermentum et sollicitudin ac orci phasellus egestas
                      tellus.
                    </p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a
                  href=""
                  class="img-bg d-flex align-items-end"
                  style="background-image: url('assets/img/image3.webp')"
                >
                  <div class="img-bg-inner">
                    <h2>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Pharetra et ultrices neque ornare. Gravida in
                      fermentum et sollicitudin ac orci phasellus egestas
                      tellus.
                    </p>
                  </div>
                </a>
              </div>

              <div class="swiper-slide">
                <a
                  href=""
                  class="img-bg d-flex align-items-end"
                  style="background-image: url('assets/img/image4.webp')"
                >
                  <div class="img-bg-inner">
                    <h2>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua.
                    </h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Pharetra et ultrices neque ornare. Gravida in
                      fermentum et sollicitudin ac orci phasellus egestas
                      tellus.
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="custom-swiper-button-next">
              <span class="bi-chevron-right"></span>
            </div>
            <div class="custom-swiper-button-prev">
              <span class="bi-chevron-left"></span>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Slider Section -->

  <!-- Post section -->
  <section class="container">
    <h1 class="text-center">Trending Post</h1>
    <div class="row mb-2">
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div
            class="col p-4 d-flex flex-column position-static"
            style="background-image: url('assets/img/image4.webp')"
          >
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >Business</strong
            >
            <h3 class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </h3>
            <div class="mb-1 text-body-secondary"><%= new Date() %></div>
            <p class="card-text mb-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Faucibus purus in massa tempor. Nisl tincidunt eget nullam non
              nisi est sit. Tincidunt dui ut ornare lectus.
            </p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div
            class="col p-4 d-flex flex-column position-static"
            style="background-image: url('assets/img/image5.webp')"
          >
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >Sport</strong
            >
            <h3 class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </h3>
            <div class="mb-1 text-body-secondary"><%= new Date() %></div>
            <p class="card-text mb-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Faucibus purus in massa tempor. Nisl tincidunt eget nullam non
              nisi est sit. Tincidunt dui ut ornare lectus.
            </p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div
            class="col p-4 d-flex flex-column position-static"
            style="background-image: url('assets/img/image5.webp')"
          >
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >News</strong
            >
            <h3 class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </h3>
            <div class="mb-1 text-body-secondary"><%= new Date() %></div>
            <p class="card-text mb-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Faucibus purus in massa tempor. Nisl tincidunt eget nullam non
              nisi est sit. Tincidunt dui ut ornare lectus.
            </p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div
            class="col p-4 d-flex flex-column position-static"
            style="background-image: url('assets/img/image3.webp')"
          >
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              >Information</strong
            >
            <h3 class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </h3>
            <div class="mb-1 text-body-secondary"><%= new Date() %></div>
            <p class="card-text mb-auto">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Faucibus purus in massa tempor. Nisl tincidunt eget nullam non
              nisi est sit. Tincidunt dui ut ornare lectus.
            </p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- lastest post -->

  <!-- end of lastest post -->
  <!-- End of post section -->

  <section class="container">
    <h1 class="text-center">Lastest Post</h1>

    <div class="row mb-2">
      <% posts.forEach(function(post){%>
      <div class="col-md-6">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        >
          <div
            class="col p-4 d-flex flex-column position-static"
            style="background-image: url('assets/img/image3.webp')"
          >
            <strong class="d-inline-block mb-2 text-primary-emphasis"
              ><%=post.author%></strong
            >
            <h3 class="mb-0"><%=post.postTitle%></h3>
            <div class="mb-1 text-body-secondary"><%= new Date() %></div>
            <p class="card-text mb-auto">
              <%=post.postBody.substring(0, 200) + " ..."%>
            </p>
            <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </section>

  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include("partials/footer"); -%>
</main>
